.sidebar{
    width: 8rem;
    height: 100%;
    background-color: #cfc7c7; 
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.menu-icon{
    margin-top: 2rem;
    cursor: pointer;
}
.line{  
    width: 2.5rem;
    height: .2rem;
    background-color: #222;
    margin-bottom: .3rem;
}

.line-1, .line-3{
    width: 1.5em;
    transition: width 1s ease;
}

.menu-icon:hover .line{
    width: 2rem;
    background-color: brown;
}


.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-list
{
    list-style: none;
    height: 70rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

a{
    text-shadow: 4px 4px 5px grey;
    font-size: 1.25rem;
    transition: color .3s ease;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:active{
    text-decoration: none;
}

a:hover{
    color: brown;
}

.year{
    color: black;
    text-shadow: 5px 5px 5px gray;
    position: relative;
    margin-top: 50%;
}

.navigation{
    margin-left: -50rem;
    position: fixed;
    border-style: hidden;
    height: 100%;
    width: 40rem;
    background-image: linear-gradient(to bottom,rgba(19, 15, 15, 0.4),rgba(166, 199, 105, 0.3)),url('../images/day-offer-img-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    z-index: 5;
}


.nav-checkbox{
    display: none;
}

.nav-checkbox:checked ~ .navigation{
    margin-left: 8rem;
    cursor: pointer;
}




.nav-last-item{
    position: relative;
    top: 30%;

}

p{
    font-size: 1.4rem;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color:#cadddf;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    transition: color 1s ease;
}

h1:hover{
    color: #5dbcc7;
    text-shadow: 5px 5px 10px black;
}


h2{
    text-align: center;
    font-size: 2rem;
    color: black;
    font-weight: 700;
    text-shadow: 5px 5px 15px #deaa86;
    text-transform: uppercase;
    transition: color 1s ease;
}

h2:hover{
    color: #deaa86;
    text-shadow: 5px 5px 10px black;
}

.nav-form
{
    position: relative;
    margin-left: 5%;
    display: flex;  
    flex-direction: row;
    justify-content: space-around; 
}

.navigation-search-input
{
    width: 25rem;
    height: 3rem;
    outline: none;
    color: #deaa86;
    border-color: #deaa86;
    background-color: transparent;
    border-radius: .5rem .5rem .5rem .5rem;
}

::placeholder{
    color: #deaa86;
}

.navigation-search-button{
    text-align: center;
    color:  #0c0b0a;
    font-weight: 300;
    background-color: rgba(0,0,0,.2);
    border-color: transparent;
    text-shadow: 5px 5px 15px #deaa86;
    border-radius: 1rem 1rem 1rem 1rem;
    outline: none;
    transition: background-color 1s ease;
}

.navigation-search-button:hover
{
    background-color: rgba(0,0,0,.4);
    box-shadow: -5px 5px 10px #deaa86;
}

.close-button{
    position: relative;
    top: -5rem;
    left: 35rem;
    color: #deaa86;
    background-color: transparent;
    border: snow solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.close-button:hover{
    text-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px #deaa86;
}